<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/landingpage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<title>Routesync</title>
</head>
<body>
<nav>
    <div class="logo">
        <a href="#"><!-- <img src="/thunder-svgrepo-com.svg" alt="ATC Auto Transport"> -->ROUTESYNC</a>
    </div>
    <ul class="menu">
        <li><a class="nav-option" href="#">Home</a></li>
        <li><a class="nav-option" href="#">About us</a></lsi>
        <li><a class="nav-option" href="#">Services</a></li>
        <li><a class="nav-option" href="#">Pricing</a></li>
        <li><a class="nav-option" href="#">Reviews</a></li>
        <li><a class="nav-option" href="#">Contact us</a></li>
    </ul>

    <div>
        <button class="loginButton">
            Login
        </button>
    </div>
</nav>

<div class="hero">
    <div class="content">
        <h1>Modern Way of Commute</h1>
        <p>Experience Seamless Commuting with RouteSync: Your Bus, On Time, Every Time</p>
        <div class="buttons">
            <button class="apply-btn">Sign Up</button>
            <button class="trial-btn">Try free for 7 days</button>
        </div>
    </div>
    <div class="image-container">
        <img src="../assets/icons/img/BUS.jpg" alt="Delivery Person">
        <div class="curve"></div>
    </div>

</div>
<section class="enhanced-travel-experience">
    <div class="travel">
        <h1>Enhanced Travel Experience</h1>
        <p>Unlock the full potential of your journey with our enhanced travel experience. Discover how our advanced
            features redefine convenience and efficiency.</p>
    </div>
</section>

<div class="timeline">
    <div class="box left-box">
        <img class="img-2" src="../assets/icons/img/notify.png" alt="">
        <div class="text">
            <h2>Real-Time Notifications</h2>
            <!-- <small>2034-3333</small> -->
            <p>Stay informed every step of the way with our real-time notification system. Receive instant updates about
                your bookings, trip status, delays, and exclusive offers, ensuring you're always in the loop.</p>
            <span class="left-box-arrow"></span>
        </div>

    </div>
    <div class="box right-box">
        <img class="img-2" src="../assets/icons/img/track.png" alt="">
        <div class="text">
            <h2>Route Optimization System</h2>
            <!-- <small>2034-3333</small> -->
            <p>Experience hassle-free travel with our intelligent route optimization system. Say goodbye to traffic jams
                and
                detours as we guide you along the most efficient routes, tailored to your preferences and real-time
                conditions.</p>
            <span class="right-box-arrow"></span>

        </div>

    </div>
    <div class="box left-box">
        <img class="img-2" src="../assets/icons/img/calling.png" alt="">
        <div class="text">
            <h2>Direct Calling to Drivers</h2>
            <!-- <small>2034-3333</small> -->
            <p>Need assistance or have specific instructions for your journey? Connect directly with your assigned
                driver
                with our seamless calling feature. Enjoy the convenience of instant communication, making your travel
                experience truly personalized.</p>
            <span class="left-box-arrow"></span>
        </div>

    </div>
    <div class="box right-box">
        <img class="img-2" src="../assets/icons/img/buss.png" alt="">
        <div class="text ">
            <h2>Buses Arrive On Time</h2>
            <!-- <small>2034-3333</small> -->
            <p>Our buses are reliably punctual, ensuring you reach your destination on time, every time. Say goodbye to
                waiting endlessly at bus stops.</p>

            <span class="right-box-arrow"></span>
        </div>

    </div>

</div>

<footer>
    <div class="footer-container">
        <div class="footer-section">
            <h3>Contact Information</h3>
            <p>Email: routesync@gmail.com</p>
            <p>Phone: +91 4444 2222 44</p>
            <p>Address: 123 Main Street, Indore</p>
        </div>
        <div class="footer-section">
            <h3>Social Media</h3>
            <ul>
                <li><a href="#">Facebook</a></li>
                <li><a href="#">Twitter</a></li>
                <li><a href="#">Instagram</a></li>
                <li><a href="#">LinkedIn</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="about.html">About Us</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="pricing.html">Pricing</a></li>
                <li><a href="FAQ.html">FAQ</a></li>
                <li><a href="termsofservices.html">Terms of Service</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Legal</h3>
            <ul>
                <li><a href="privacy.html">Privacy Policy</a></li>
                <li><a href="termsofservices.html">Terms of Service</a></li>
            </ul>
        </div>
    </div>
    <p class="made-by">Made with ❤️ by Sourabh, Pushpendra, Nikita, and Shikha</p>
</footer>

<script>
    const loginButton = document.querySelector('.loginButton');

    loginButton.addEventListener('click', () => {
        console.log('clicked')
        window.location.href = '/loginType';
    });
</script>
</body>
</html>