<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=chrome">
    <link rel="stylesheet" href="/login_option.css">
    <title>Login Selection</title>
</head>
<body>
<div class="container">
    <section class="selectionPage">
        <div class="sectionTitle">Select your Account Type</div>
        <div class="options">
            <div class="option student-field">
                <a href="/signup">
                    <img src="../assets/icons/github.svg" alt="Image of ">
                </a>
                <span>Student</span>
            </div>
            <!-- <div class="option Organisation-field">
                <a href="Signup"><img src="../assets/icons/file.svg" alt="Image of "></a>
                <span>Association</span>
            </div>
            <div class="option driver-field">
                <a href="Signup"><img src="../assets/icons/settings.svg" alt="Image of "></a>
                <span>Driver</span>
            </div> -->
        </div>
    </section>
</div>
<script src="/login_option.js"></script>
</body>
</html>